/* * {border: 1px solid black} */

/* Formato general de la página */
html {
  vertical-align: baseline;
  border: 1px solid black;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Cabecera */
header {
  color: blanchedalmond;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.title {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.subtitle {
  text-align: center;
  font-size: 2.5rem;
}


footer {
  background-color: darkgoldenrod;
  padding: 50px;
}

/* Menú de navegación */
nav ul {
  color: blanchedalmond;
  position: fixed;
  top: 0px;
  right: 10px;
}

nav li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}

li:hover {
  background-color: chocolate;
}

li>a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem
}

.mobile {
  display: none
}

/* Contenido principal */
main {
  display: flex;
  flex-direction: column
}

section {
  width: 66%;
  margin-left: auto;
  margin-right: auto
}

img {
  float: left;
  margin-right: 10px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0px;
}

.details {
  display: block;
  font-size: 1.3rem;
  font-style: italic;
  margin: 5px 0px 5px 0px;
}

p {
  font-size: 1.3rem;
  margin-top: 0px;
}

video {
  width: 100%;
  display: block;
  margin: 25px auto;
}

/* Formulario */
form {
  display: grid;
}

/* Elementos específicos */
.container-1,
.container-3,
.container-5 {
  background-color: blanchedalmond;
}

@media screen and (max-width: 720px) {
  nav li:not(.mobile) {
    display: none
  }

  .topnav .mobile {
    display: block;
    font-size: 1.5rem;
  }

  .topnav.responsive li {
    float: none;
    display: block;
    width: 100vw;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
    font-size: 1.5rem;
  }

  .topnav.responsive li:hover {
    background-color: chocolate
  }

  .topnav.responsive ul {
    margin: 0;
  }

}